﻿@model DogaseverApp.Models.Yazi

@{
    ViewBag.Title = "Oku";
}



<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Duzenle", "Edit", new { id = Model.YaziID }) |
    @Html.ActionLink("Yazilara dön", "Index")
</p>
