﻿@model IEnumerable<DogaseverApp.Models.Yazi>

@{
    ViewBag.Title = "Yazilar";
}


<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        Başlık: @Html.TextBox("SearchString") 
        <input type="submit" value="Filtrele" />
    </p>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EklenmeTarihi)
            </td>
            <td>
                @Html.ActionLink("Oku", "Details", new { id = item.YaziID }) |
                @Html.ActionLink("Duzenle", "Edit", new { id = item.YaziID }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.YaziID })
            </td>
        </tr>
    }

</table>
